/* Testi.css */

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
  backdrop-filter: blur(8px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border-radius: 50%; /* Fully rounded */
  color: #ec4899 !important; /* Pink color for arrow icons */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}
